exercice.xml/meteo.xsd

<?xml version="1.0"?>
 
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
  <xs:element name="meteo">
    <xs:complexType>
      <xs:sequence>
 
        <xs:element name="mesure" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
 
              <xs:element name="ville" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="nom" type="xs:string" use="required"/>
                  <xs:attribute name="temperature" type="xs:integer" use="required"/>
                </xs:complexType>
              </xs:element>
 
            </xs:sequence>
            <xs:attribute name="date" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
 
      </xs:sequence>
    </xs:complexType>
  </xs:element>
 
</xs:schema>
 
 